img {
  width: 100%;
  height: 550px;
}

.overlay-text {
  position: absolute;
  top: 20%;
  left: 5%;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62px;
  color: #f56f18;
  width: 777px;
}

.search-overlay-txt {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  position: absolute;
  top: 58%;
  left: 10%;
  color: #f46f18;
}

#brand,
#model,
#productionDate,
#price {
  width: 300px;
  background-color: #faddc2;
  border: none;
  border-radius: 5px;
  padding: 15px;
}

#brand,
#productionDate {
  margin-left: 30px;
}

#model,
#brand {
  margin-top: 30px;
}
#productionDate,
#price {
  margin-top: 40px;
}

#model,
#price {
  margin-left: 50px;
}

#searchCarBtn {
  position: absolute;
  top: 670px;
  left: 490px;
  width: 300px;
  padding: 15px;
  margin-top: -5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #f46f18;
  border: none;
}

.search-card {
  width: 777px;
  height: 315px;
  background-color: #f9f5f5;
  opacity: 99%;
  padding: 30px;
  margin-top: -170px;
  margin-left: 75px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#top-offers-heading {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #f46f18;
  padding: 60px 0 0 60px;
  text-align: center;
}

.card {
  max-height: 500px;
  margin: 40px 10px 10px 10px;
}

.order-config {
  width: 800px;
  height: 600px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
  margin-top: 60px;
}

.order-card {
  width: 400px;
  height: 600px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
  margin-top: 60px;
}

.order {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.financing-type {
  padding: 50px 40px 30px 40px;
}

.customer-info {
  padding: 10px 40px;
}

.customize {
  padding: 20px 40px;
}

#total-slogan {
  padding: 0 0 0 10px;
}

.order-confirm-card {
  padding: 50px 30px;
}

#chosen-car-card {
  height: 200px;
}

.car-offers-card {
  display: flex;
}

.alert-body {
  width: 500px;
  height: 400px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
  display: flex;
 
}

.final-car-display {
  width: 500px;
  height: 400px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
}

#final-heading {
  margin: 40px;
  font-size: 20px;
}

.final-summary {
  font-size: 10px;
  margin: 30px;
  text-align: center;
}

.order-final-details {
  display: flex;
  margin: 100px;
  justify-content: space-evenly;
}
